@page "/RegisterUser"
@using Collector.Client.Dtos.Login
@using Collector.Client.Dtos


<div class="main-container">
    <!-- Form Container -->
    <div class="form-container">
        <MudForm @ref="form" Model="@registerUserViewModel" OnValidSubmit="HandleValidSubmit">

            <!-- Progress Bar -->
            <div class="custom-progress-bar">
                <div class="custom-content-bar" style="width: @(step * 25)%"></div>
            </div>

            <!-- Step Header -->
            <div class="step-header">
                <MudText Typo="Typo.h6" Color="Color.Primary">Paso @(step)-4</MudText>
                <MudText Typo="Typo.h6">Registrar Persona</MudText>
            </div>

            <!-- Form Steps -->
            @if (step == 1)
            {
                <label class="custom-label">Nombre</label>
                <MudTextField @bind-Value="@registerUserViewModel.Name" Required="true" Variant="Variant.Outlined" />
                <label class="custom-label mt-5">Apellido</label>
                <MudTextField @bind-Value="@registerUserViewModel.LastName" Required="true" Variant="Variant.Outlined" />
                <label class="custom-label">Nombre de Usuario</label>
                <MudTextField @bind-Value="@registerUserViewModel.UserName" Required="true" Variant="Variant.Outlined" />
                <p class="custom-message-required">El campo es requerido.</p>
            }
            @if (step == 2)
            {
                <label class="custom-label">Correo Electrónico</label>
                <MudTextField @bind-Value="@registerUserViewModel.Email" Required="true" Variant="Variant.Outlined" />
                <label class="custom-label">Cédula</label>
                <MudTextField @bind-Value="@registerUserViewModel.Identification" Required="true" Variant="Variant.Outlined" />
                <label class="custom-label">Teléfono</label>
                <MudTextField @bind-Value="@registerUserViewModel.Phone" Required="true" Variant="Variant.Outlined" />
                <p class="custom-message-required">El campo es requerido.</p>
            }
            @if (step == 3)
            {
                <label class="custom-label">Contraseña</label>
                <MudTextField @bind-Value="@registerUserViewModel.Password" Required="true" InputType="InputType.Password" Variant="Variant.Outlined" />
                <label class="custom-label">Confirmar Contraseña</label>
                <MudTextField @bind-Value="@registerUserViewModel.ConfirmPassword" Required="true" InputType="InputType.Password" Variant="Variant.Outlined" />
                <p class="custom-message">La contraseña debe contener al menos: 1 letra, 8 caracteres, 1 número y 1 carácter especial ("@@", "!", "#", ".") </p>
            }
            @if (step == 4)
            {
                <div class="custom-image-title">Foto de Perfil</div>
                <MudFileUpload T="IBrowserFile" @bind-Value="@registerUserViewModel.ProfileImage" AcceptedFileTypes="image/*" MaxFileSize="2097152" />
                @if (registerUserViewModel.ProfileImage != null)
                {
                    <MudText Typo="Typo.body2">Vista previa:</MudText>
                    <img src="@GetImagePreview(registerUserViewModel.ProfileImage)" alt="Imagen de perfil" width="100" height="100" class="image-preview" />
                }
                <p class="custom-message-image">Puedes dar clic en el círculo para seleccionar una imagen o dejar el avatar por defecto.</p>
            }

            <!-- Navigation Buttons -->

            <div class="buttons-container">
                <div class="flex-grow-1"></div>
                @if (step > 1)
                {

                    <MudButton OnClick="PreviousStep" Variant="Variant.Filled" Color="Color.Primary">Paso anterior</MudButton>
                }
                @if (step < 4)
                {
                    <MudButton OnClick="NextStep" Variant="Variant.Filled" Color="Color.Primary">Siguiente</MudButton>
                }
                else
                {
                    <MudButton Type="Submit" Variant="Variant.Filled" Color="Color.Primary">Registrar</MudButton>
                }
                <div class="flex-grow-1"></div>
            </div>

        </MudForm>
    </div>
    <!-- Aside Background -->
    <div class="aside-background"></div>

</div>


@code {
    private int step = 1;
    private MudForm form;
    private ReqUserDto registerUserViewModel = new();

    private void NextStep()
    {
        if (step < 4)
            step++;
    }

    private void PreviousStep()
    {
        if (step > 1)
            step--;
    }

    private void HandleValidSubmit()
    {
        Console.WriteLine("Formulario enviado exitosamente.");
    }

    private string GetImagePreview(IBrowserFile file)
    {
        var buffer = new byte[file.Size];
        file.OpenReadStream().ReadAsync(buffer);
        return $"data:image/jpeg;base64,{Convert.ToBase64String(buffer)}";
    }
}

