@using Collector.Client.Dtos.Login
@using MudBlazor
@inherits ComponentBase;

<div class="step2-container">
    <label class="custom-label">Teléfono</label>
    <MudTextField @bind-Value="@reqUserDto.Phone" Required="true" Variant="Variant.Outlined" Style="color:white;"/>

    <div class="d-flex justify-content-between mt-5">
        <label class="custom-label">Contraseña</label>
        <MudTooltip Style="background-color:darkgray; color:black;" Arrow="true" Placement="Placement.Right" Delay="400">
            <ChildContent>
                <MudIcon Icon="@Icons.Material.Filled.ErrorOutline" Size="Size.Small" Style="color:darkgray" />
            </ChildContent>
            <TooltipContent>
                <MudText Style="font-weight:normal; font-size:small;">La <strong>contraseña</strong> debe contener al menos:</MudText>
                <MudText Style="font-weight:normal; font-size:small;">
                    1 letra, 8 caracteres, 1 número y
                </MudText>
                <MudText Style="font-weight:normal; font-size:small;">
                    1 carácter
                    especial (“@@”,”!”,”#”,”.”)
                </MudText>
            </TooltipContent>
        </MudTooltip>
    </div>
    <MudTextField @bind-Value="@reqUserDto.Password" Required="true" InputType="InputType.Password" Variant="Variant.Outlined" Style="color:white;" />
    <div class="d-flex justify-content-between mt-5">
        <label class="custom-label">Confirmar Contraseña</label>
        <MudTooltip Style="background-color:darkgray; color:black;" Arrow="true" Placement="Placement.Right" Delay="400">
            <ChildContent>
                <MudIcon Icon="@Icons.Material.Filled.ErrorOutline" Size="Size.Small" Style="color:darkgray" />
            </ChildContent>
            <TooltipContent>
                <MudText Style="font-weight:bold; font-size:small">Las contraseñas deben coincidir.</MudText>
            </TooltipContent>
        </MudTooltip>
    </div>
    <MudTextField  @bind-Value="@reqUserDto.ConfirmPassword" Required="true" InputType="InputType.Password" Variant="Variant.Outlined" Style="color:white;" />
</div>

<style>
    .custom-label {
        font-weight: 700;
        color: #BDBABA;
    }

        .custom-label::before {
            content: '*';
            color: #ef4444;
            margin-right: 0.25rem;
        }
</style>

@code {
    [Parameter]
    public ReqUserDto reqUserDto { get; set; }
    
    [Parameter]
    public bool IsInstitution { get; set; }
}
