@page "/Reports/Details/{Id:int}"
@using Collector.Client.Dtos.Reports
@using Collector.Client.Services.Reports
@inject IReportsService _reportService
@inject NavigationManager navManager


<div class="container-fluid">
    <div class="w">
        <!-- IMAGES PROPERTIES -->
        <div class="w-100">

            <div class="text-center mt-3">

                <h2 class="title text-white m-4">@reportDetails.Title</h2>

                <section id="carousel-section">
                    <div id="carouselExampleIndicators" class="carousel slide">
                        <div class="carousel-indicators">
                            @for (int i = 0; i < reportDetails.ImageUrls.Count; i++)
                            {
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@i" class="@((i == 0) ? "active" : "")" aria-current="true" aria-label="Slide @(i + 1)"></button>
                            }
                        </div>
                        <div class="carousel-inner">
                            @for (int i = 0; i < reportDetails.ImageUrls.Count; i++)
                            {
                                <div class="carousel-item @(i == 0 ? "active" : "")">
                                    <img src="@reportDetails.ImageUrls[i]" class="object-fit-cover w-100" style="height:500px" alt="Image @(i + 1)">
                                </div>
                            }
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </section>
            </div>


            <div class="info-container">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <span class="ms-3">Nombre: <span class="badge rounded-pill bg-info">@reportDetails.Name</span></span>
                            <span class="ms-3">Estado: <span class="badge rounded-pill bg-info">@reportDetails.Status</span></span>
                            <span class="ms-3">
                                Fecha: <span style="color:forestgreen; font-weight:bold">
                                    @reportDetails.Date
                                </span>
                            </span>
                        </div>

                        <div class="col-10 offset-1 mt-3">
                            <div class="row g-0">
                                <div class="col-md-6">
                                    <i class="fa-solid fa-location-dot"></i> Latitud: @reportDetails.Latitude
                                </div>
                                <div class="col-md-6">
                                    <i class="fa-solid fa-location-dot"></i> Longitud: @reportDetails.Longitude
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr class="mt-2" />

                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h4>Descripción</h4>
                                <p>@reportDetails.Description</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@* STILOS *@
<style>
    .container-fluid {
        display: flex;
        background-color: #25251D;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        padding: 20px;
    }

    .info-container {
        width: 100$;
        align-items: center;
        justify-content: center;
    }

    .title {
        font-weight: bold
    }

    .row {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .col-md-3, .col-7 {
        flex: 1;
    }

    .card {
        width: 100%;
        margin: 15px;
    }

    .carousel-inner img {
        width: 100%;
        object-fit: cover;
    }

    .text-center {
        text-align: center;
    }
</style>

@code {
    [Parameter] public int Id { get; set; }
    private ResReportsGetById reportDetails = new();

    protected async override Task OnInitializedAsync()
    {
        var report = await _reportService.GetByIdReports(Id);
        reportDetails = report.Value[0] ?? new ResReportsGetById();
        await base.OnInitializedAsync();
    }

    private void NavigateBack()
    {
        navManager.NavigateTo("/User/Reports");
    }
}
